
body {
    margin: 0;
    text-align: center;    
    /* background-color: rgb(142, 140, 136); */
    background-color: #323a45;
    font-family: 'Source Sans Pro', sans-serif; 
    
}


/* Typography */
p {
    font-size: 13px;
    text-align: start; 
}

.bold-text {
    font-weight: 900;
}


.profile-name {
    margin-bottom: 0;
}

.profile-location { 
    margin-top: 0;    
}


/* Layout */
.container {
    width: 375px; 
    margin: 0 auto;
    /* border: 1px solid gold; */
    background-color: #ffffff;
}

header {
    padding: 6px 15px 0 10px; 
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #C6C6C6;
}

.profile {
    margin: 0 0 0 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}


/* Comment Section */
.comment-section {
    margin: 15px 19px 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.icon-section img {
    margin-right: 10px;
    /* border: 1px solid green; */
}

.comment-icons {
    width: 23px;    
}

.like-section {
    margin-bottom: 0;
} 
.comment {
    margin-top: 12px;
}

section .comment-section p span  {
    /* border: 1px solid red; */
    margin-right: 5px;
}


/* Image */
.logo {
    width: 127px;
}
.avatar {
    width: 34px;
    border-radius: 50%;
}

.profile-img {
    /* border: 1px solid red; */
    width: 34px;    
    margin-right: 5px;
    border-radius: 50%;
}

.img-container {
    margin: 0 auto;
    width: 375px;
    /* border: 1px solid red; */
    /* margin-bottom: 0; */
}

.img-container img {
    margin-bottom: 0;
    width: 100%;
    height: auto;
    display: block;    
}

/* Hover Effects  */
.comment-icons:hover,
.cooment-icons:focus {
    cursor: pointer;
    filter: invert(12%) sepia(73%) saturate(3797%) hue-rotate(346deg) brightness(99%) contrast(93%); 
}


/* .img-1 {
    width: 200px;
    border: 1px solid green;
} */


/* Issue: image inside div has extra space in the bottom 
    Why:  image rendered inline, like a letter there is space for descenders like q, p, etc.
    soln: display: block */