
body {
    margin: 0;
    text-align: center;    
    /* background-color: rgb(142, 140, 136); */
    
}

/* Typography */
p {
    font-size: 13px;
    text-align: start; 
}


.profile-name {
    margin-bottom: 0;
}

.profile-location { 
    margin-top: 0;    
}

/* Layout */
main {
    width: 375px; 
    margin: 0 auto;
    border: 1px solid gold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Image */

.logo {
    width: 127px;
}
.avatar {
    width: 34px;
}

/* .avatar, .logo {
    display: block;
} */

.profile-img {
    /* border: 1px solid red; */
    width: 34px;
    
    margin-right: 5px;
}


.img-container {
    margin: 0 auto;
    width: 375px;
    /* border: 1px solid red; */
    /* margin-bottom: 0; */
}

.img-container img {
    margin-bottom: 0;
    width: 100%;
    height: auto;
    display: block;
    
}

/* .img-1 {
    width: 200px;
    border: 1px solid green;
} */


/* Issue: image inside div has extra space in the bottom 
    Why:  image rendered inline, like a letter there is space for descenders like q, p, etc.
    soln: display: block */